<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facultad</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <header>
        <div th:replace="/comunes/navbar.html"></div>
    </header>
    <main>
        <div class="container mt-4">
            <div class="form-container">
                <h1 style="text-align: center;">Formulario de Carreras</h1>
                <form method="post" th:action="@{/carreras/guardar}" th:object="${carrera}" class="needs-validation" novalidate>
                    <input type="hidden" id="id" th:field="*{id}">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required>
                        <div class="invalid-feedback">Por favor ingresa un nombre válido.</div>
                    </div>
                    <div class="form-group">
                        <label for="facultad">Facultad:</label>
                        <select id="facultad" name="facultad" class="form-control" onchange="actualizarSigla()" required>
                            <option value="">Selecciona una facultad</option>
                            <option th:each="facu : ${facultades}" th:value="${facu.id}" th:text="${facu.nombre}"></option>
                        </select>
                        <div class="invalid-feedback">Por favor selecciona una facultad.</div>
                    </div>
                    <div class="form-group">
                        <label for="sigla">Sigla:</label>
                        <input type="text" class="form-control" id="sigla" name="sigla" th:field="*{sigla}" required>
                        <div class="invalid-feedback">Por favor ingresa una sigla válida.</div>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Enviar</button>
                    <button type="button" onclick="window.history.back()" class="btn btn-secondary">Atrás</button>
                </form>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        var facultades = /*[[${facultadesList}]]*/ [];

        function actualizarSigla() {
            var selectedFacultadId = document.getElementById("facultad").value;
            var siglaInput = document.getElementById("sigla");

            var sigla = facultades.find(function(facu) {
                return facu.id == selectedFacultadId;
            });

            /* Completar el valor del campo de la sigla */
            if (sigla) {
                siglaInput.value = sigla.sigla;
            } else {
                siglaInput.value = ""; 
            }
        }

        // Validación del formulario usando Bootstrap y JavaScript
        (function() {
            'use strict';

            var forms = document.querySelectorAll('.needs-validation');

            Array.prototype.slice.call(forms)
                .forEach(function(form) {
                    form.addEventListener('submit', function(event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated');
                    }, false);
                });
        })();
    </script>
</body>
</html>
